<h1>Create New Article</h1>

<%= form_with model: @artical do |form| %>
    <div>
        <%=form.label :title %> <br>
        <%= form.text_field :title %>
    </div>
    <br>
     <div>
        <%=form.label :body %> <br>
        <%= form.text_field :body %>
    </div>
    <div>
    <%= form.submit %>
    </div>
<% end %>
